.about {
    .about-content{
        flex: 0 0 100%;
        max-width: 100%;
       .about-text {
           flex: 0 0 100%;
           max-width: 100%;
          h3{
              font-size: 24px;
              margin-bottom: 15px;
              font-weight: 700;
              color: $text-black-900;
              span {
                  color: $skin-color;
              }
          }
          p{
              font-size: 16px;
              line-height: 25px;
              color: $text-black-700;
              font-weight: 500;
          }
       }
       .personal-info {
           flex: 0 0 60%;
           max-width: 60%;
           margin-top: 50px;
           .info-item {
               flex: 0 0 50%;
               max-width: 50%;
               p{
                   font-size: 16px;
                   font-weight: 600;
                   padding: 10px 0;
                   color: $text-black-900;
                   border-bottom: 1px solid $bg-black-50;
                   font-family: sf-mono;
                   span {
                       color: $text-black-700;
                       font-weight: 500;
                       margin-left: 4px;
                       font-family: calibre;
                       display: inline-block;
                   }


               }
           }
       }
       .skills {
           flex: 0 0 40%;
           max-width: 40%;
           margin-top: 50px;
       }
       .buttons {
           margin-top: 30px;
       }
       .skill-item {
           flex: 0 0 100%;
           max-width: 100%;
           margin-bottom: 25px;
           h5 {
               font-size: 16px;
               font-weight: 600;
               line-height: 40px;
               color: $text-black-900;
               text-transform: capitalize !important;
           }
           .progress {
               background-color: $bg-black-50;
               height:7px;
               width:100%;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
               -ms-border-radius: 4px;
               -o-border-radius: 4px;
               position: relative;
}
.progress-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $skin-color;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.skill-percent {
    position: absolute;
    top: -40px;
    color: $text-black-900;
    right: 0;
    font-weight: 400;
    line-height: 40px;
}
       }
       
       .education, .experience {
           flex: 0 0 50%;
           max-width: 50%;
           margin-top: 30px;
           
           h3 {
               font-size: 24px;
               font-weight: 700;
               margin-bottom: 30px;
               color: $text-black-900;
           }
       }
       .timeline-box {
           flex: 0 0 98%;
           max-width: 98%;
       
        //    background-color:red;
           .timeline {
               background-color: $bg-black-100;
               padding: 30px 15px;
               border: 1px solid $bg-black-50;
               width: 100%;
               border-radius: 10px;
               -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
               -ms-border-radius: 10px;
               -o-border-radius: 10px;
               position: relative;
               .timeline-item {
                   position: relative;
                   padding-left: 37px;
                   padding-bottom: 50px;
                   &:last-child {
                       padding-bottom: 0;
                   }
                   &::before {
                       content: '';
                       position: absolute;
                       width: 1px;
                       height: 100%;
                       top: 0;
                       left: 7px;
                       background-color: $skin-color;
                   }
               }
               .circle-dot {
                   position: absolute;
                   width: 15px;
                   height: 15px;
                   top: 0;
                   left: 0;
                   background-color: $skin-color;
                   border-radius: 50%;
                   -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                   -ms-border-radius: 50%;
                   -o-border-radius: 50%;
}
.timeline-date {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    color: $text-black-700;
    letter-spacing: 2px;
    .fa {
        margin-right: 5px;
    }
}
.timeline-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $text-black-900;
}
.timeline-text {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: $text-black-700;
}
}
       }
     
      
    }
      
     
}