.projects {
    .container {
        margin-bottom: 40px;
    }
    .project-heading {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
     h2 {
         color: $text-black-900;
         font-weight: 500;
       
     }
    }
    .project-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 30px;
        .project-item-inner {
            border: 6px solid $bg-black-100;
            border-radius:10px;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            -ms-border-radius:10px;
            -o-border-radius:10px;
            overflow: hidden;
            cursor: pointer;
            img {
                width: 100%;
                display: block;
            }
}
    }
}

@media (max-width: 991px) {
    .projects .project-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .projects .project-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}