@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: sf-mono;
  src: url(../fonts/SFMono.ttf);
}

@font-face {
  font-family: calibre;
  src: url(../fonts/CalibreRegular.otf);
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: calibre;
  font-weight: 200;
}

::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  background: #f2f2fc;
  min-height: 100vh;
  display: block;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
}

ul {
  list-style: none;
}

.aside {
  width: 270px;
  background: #fdf9ff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e8dfec;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: #302e4d;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 3px;
  position: relative;
}

.aside .logo a:before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ec1839;
  border-left: 5px solid #ec1839;
  bottom: 0;
  left: 0;
}

.aside .logo a:after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid #ec1839;
  border-right: 5px solid #ec1839;
  top: 0;
  right: 0;
}

.aside .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid #e8dfec;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fdf9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: #ec1839;
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  background: #ec1839;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  background: #ec1839;
  top: 6px;
  left: 0;
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  font-family: sf-mono;
  border-bottom: 1px solid #e8dfec;
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: #ec1839;
}

.aside .nav li a i {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */